.about-us {
  width: 100%;
  border-top: 7px solid @border-gray;
  border-image: url("../img/bg-zigzag-line.svg") 100% 1 repeat;
  font-family: @main-font;
}

.about-us__wrapper {
  margin: 0 auto;
  padding-top: 27px;
  padding-right: 30px;
  padding-left: 30px;
  width: 260px;
}

.about-us__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -2px;

  .bold-fonts(25px; 30px; @black);
}

.about-us__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
  padding-left: 0;
  list-style: none;
}

.about-us__feature {
  position: relative;
  padding-top: 83px;

  .bold-fonts(17px; 20px; @black);
  &::before {
    position: absolute;
    background-repeat: no-repeat;
    content: "";
  }
}

.about-us__feature--eco {
  &::before {
    top: 28px;
    left: 8px;
    width: 33px;
    height: 38px;
    background-image: url("../img/icon-feature-1.svg");
    background-size: 33px 38px;
  }
}

.about-us__feature--style {
  &::before {
    top: 29px;
    left: 0px;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-3.svg");
    background-size: 47px 27px;
  }
}

.about-us__feature--like {
  &::before {
    top: 34px;
    left: 7px;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-feature-5.svg");
    background-size: 34px 27px;
  }
}

.about-us__feature--bind {
  &::before {
    top: 31px;
    left: 3px;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-2.svg");
    background-size: 35px 34px;
  }
}

.about-us__feature--support {
  &::before {
    top: 32px;
    left: -5px;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-feature-4.svg");
    background-size: 55px 23px;
  }
}

.about-us__feature--pack {
  &::before {
    top: 30px;
    left: 3px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-6.svg");
    background-size: 33px 32px;
  }
}

@media @tablet-width {
  .about-us {
    border-top: 17px solid @border-gray;
    border-image: url("../img/bg-zigzag-line.svg") 100% 1 repeat;
  }

  .about-us__wrapper {
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
    width: 668px;
  }

  .about-us__title {
    margin-top: 21px;
    margin-left: -4px;

    .bold-fonts(43px; 50px; @black);
  }

  .about-us__feature {
    padding-top: 110px;
    width: 334px;

    .bold-fonts(20px; 22px; @black);
  }

  .about-us__features {
    margin-top: -7px;
  }

  .about-us__feature:nth-child(3n+1) {
    order: 1;
  }

  .about-us__feature:nth-child(3n+2) {
    order: 2;
}

  .about-us__feature:nth-child(3n+3) {
    order: 3;
  }

  .about-us__feature--eco {
    &::before {
      top: 56px;
    }
  }

  .about-us__feature--style {
    &::before {
      top: 58px;
    }
  }

  .about-us__feature--like {
    &::before {
      top: 63px;
      left: 8px;
    }
  }

  .about-us__feature--bind {
    &::before {
      top: 60px;
    }
  }

  .about-us__feature--support {
    &::before {
      top: 61px;
    }
  }

  .about-us__feature--pack {
    &::before {
      top: 60px;
    }
  }
}
@media @desktop-width {
  .about-us {
    border: none;
  }

  .about-us__wrapper {
    margin: 0 auto;
    padding-right: 175px;
    padding-left: 175px;
    width: 700px;
    border-top: 23px solid @border-gray;
    border-image: url("../img/bg-zigzag-line.svg") 100% 1 repeat;
  }

  .about-us__title {
    margin-top: 33px;
    margin-left: -3px;

    .bold-fonts(53px; 57px; @black);
  }

  .about-us__feature {
    padding-top: 110px;
    padding-right: 50px;
    width: 350px - 50px;

    .bold-fonts(20px; 22px; @black);
  }
}
