.main-nav {
  font-family: @main-font;
}

.main-nav__list {
  list-style: none;
  padding: 0;
}

.main-nav__list--catalog {
  display: none;
}

.main-nav__item {
  .bold-fonts(17px; 24px; @black);
}

.main-nav__item--delivery {
  display: none;
}
