.main-nav {
  display: none;
  position: absolute;
  top: 79px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  min-height: 50px;
  width: 100%;
  font-family: @main-font;
  background-color: white;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav__list {
  .bold-fonts(17px; 24px; @black);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__user {
  .bold-fonts(17px; 24px; @black);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid @border-gray;
}

.main-nav__item:nth-child(1) {
  border-top: 1px solid @border-gray;
}

.main-nav__item a{
  margin: 0 auto;
  width: 260px - 46px;
  padding-left: 46px;
  padding-top: 27px;
  padding-bottom: 27px;
  display: block;
}

.main-nav__user-item {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid @border-gray;
}

.main-nav__user-item a{
  margin: 0 auto;
  width: 260px - 46px;
  padding-left: 46px;
  display: block;
  padding-left: 46px;
  padding-top: 27px;
  padding-bottom: 27px;
  display: block;
}

.main-nav__item--new,
.main-nav__item--sale {
  display: none;
}

.main-nav__user-item--delivery {
  display: none;
}

@media @tablet-width {
  .main-nav {
    display: block;
    width: auto;
    position: static;
    min-height: 88px;
    margin: 0;
  }

  .main-nav__wrapper {
    flex-direction: column-reverse;
  }

  .main-nav__list {
    margin-top: 17px;
    margin-bottom: -50px;
    margin-left: -620px;
    padding-right: 0;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .main-nav__item {
    .bold-fonts(15px; 24px; @black);
    width: auto;
    height: auto;
    border: none;
    padding: 0px;
    margin-right: 36px;
  }

  .main-nav__item:nth-child(1) {
    border: none;
  }

  .main-nav__item:nth-child(2n) {
    margin-right: 0;
  }

  .main-nav__item a {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .main-nav__user {
    width: 397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }

  .main-nav__user-item {
    display: block;
    .bold-fonts(17px; 24px; @black);
    height: auto;
    border: none;
    padding: 0px;
  }

  .main-nav__user-item a {
    margin: 0;
    width: auto;
    padding: 0;
  }

  .main-nav__user-item--currently-select {
    border-left: 1px solid @border-gray;
  }

  .main-nav__user-item--currently-select a {
    display: block;
    padding: 32px 0px 32px 83px;
  }

  .main-nav__user-item--search {
    height: 88px;
    width: 82px;
    border-left: 1px solid @border-gray;
  }

  .main-nav__user-item--search a {
    .visually-hidden;
  }

  .main-nav__user-item--delivery {
    position: absolute;
    bottom: -42px;
    .regular-fonts(15px; 24px; @main-gray)
  }
}

@media @desktop-width {
  .main-nav {
    width: 100%;
    display: block;
  }

  .main-nav__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__list {
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    margin-right: auto;
    margin-bottom: -44px;
    width: 420px;
    min-height: 129px;
  }

  .main-nav__item {
    width: 184px;
    margin-right: 34px;
    .bold-fonts(17px; 24px; @black);
  }

  .main-nav__item:nth-child(-n+2) {
    padding: 32px 0 32px 0;
  }

  .main-nav__item:nth-child(1) {
    border-right: 1px solid @border-gray;
  }

  .main-nav__item:nth-child(n+3) {
    .bold-fonts(15px; 24px; @black);
    display: block;
    margin-top: 20px;
  }

  .main-nav__item a {
    width: auto;
    margin: auto;
  }

}
