.modal-size-selector {
  font-family: @main-font;
}

.modal-size-selector__title {
  .bold-fonts(25px; 30px; @black);
  text-transform: uppercase;
}

.modal-size-selector__name {
  .regular-fonts(15px; 30px; @main-gray);
}

.modal-size-selector__size {
  .bold-fonts(17px; 16px; @main-gray);
  text-transform: uppercase;
}
