.page-header {
  min-height: 79px;
  font-family: @main-font;
  background: white;
  border-bottom: 1px solid @border-gray;
  margin-bottom: 0;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.page-header__logo {
  width: auto;
  height: 35px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-right: 67px;
  margin-left: 87px;
}

.page-header__logo a {

}

.page-header__toggle {
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
}

@media @tablet-width {
  .page-header {
    min-height: 88px;
    width: 100%;
    border-bottom: 1px solid @border-gray;
    padding: 0;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-header__logo {
    margin: 0;
    padding: 0;
    width: 113px;
    height: 46px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media @desktop-width {
  .page-header {
    min-height: 88px;
    width: 100%;
    border-bottom: 1px solid @border-gray;
    padding: 0;
  }

  .page-header__wrapper {
    margin: 0 auto;
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-header__logo {
    position: absolute;
    .absolute-center;
    width: 113px;
    height: 46px;
    z-index: 2;
  }
}
