.page-form {
  font-family: @text-font-family;
}

.page-form__descr {
  .form-paragraph-font();
}

.page-form__title {
  .form-title();
}

.page-form__label {
  .label-title();
}

.page-form__required {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.page-form__btn {
  .btn-fonts();
}
