.promo-block {
  background-color: @bg-gray;
  font-family: @main-font;
}

.promo-block__title {
  .bold-fonts(27px; 30px; @black);
}

.promo-block__nav {
  padding: 0;
}

.promo-block__btn {
  .bold-fonts(19px; 24px; @white);
  background-color: @main-green;
}

.promo-block__btn a {
  color: @white;
}
