.reviews {
  font-family: @main-font;
  border-bottom: 7px solid @border-gray;
  border-image: url("../img/bg-zigzag-line.svg") 100% 1 repeat;
}

.reviews__wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 44px;
  width: 260px;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  .bold-fonts(25px; 30px; @black);
  display: block;
  margin-left: -2px;
}

.reviews__write {
  .bold-fonts(18px; 20px; @main-gray);
  order: 1;
  margin-top: 39px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.reviews__text {
  .regular-fonts(15px; 30px; @main-gray);
  margin-top: 2px;
  margin-bottom: 28px;
}

.reviews__author-name {
  .bold-fonts(17px; 24px; @black);
  font-style: normal;
}

.reviews__tgme-username-link {
  font-family: @main-font;
  .regular-fonts(17px; 30px; @main-gray);
  margin-top: 2px;
}

.reviews__nav {
  margin-top: 28px;
  display: flex;
}

.reviews__btn {
  padding: 9px 0;
  background-color: white;
  border-color: @border-gray;
  font-size: 0;
  height: 52px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 36px 12px;
  background-color: transparent;
  &:hover {
    background-color: transparent;
    opacity: 0.6;
  }
  &:active {
    background-color: transparent;
    opacity: 0.3;
  }
}

.reviews__btn--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__btn--next {
  background-image: url("../img/icon-right-arrow.svg");
}

@media @tablet-width {
  .reviews {
    margin-top: 85px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 17px solid @border-gray;
    border-image: url("../img/bg-zigzag-line.svg") 100% 1 repeat;
  }

  .reviews__wrapper {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 43px;
    padding-bottom: 48px;
    margin-bottom: 68px;
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: contain;
  }

  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 2dppx) {
    .reviews__wrapper {
      background-image: url(../img/review@2x.jpg);
    }
  }

  .reviews__title {
    .bold-fonts(43px; 50px; @black);
    display: block;
    margin-left: -5px;
  }

  .reviews__write {
    .bold-fonts(18px; 20px; @main-gray);
    order: 0;
    margin-left: auto;
    align-self: flex-start;
    width: 171px;
    margin-top: 36px;
    margin-bottom: 0px;
  }

  .reviews__slider-inner {
    display: flex;
    flex-direction: column;
  }

  .reviews__item {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .reviews__text {
    .regular-fonts(17px; 30px; @main-gray);
    width: 668px;
    margin-top: 12px;
  }

  .reviews__author-name {
  .bold-fonts(18px; 24px; @black);
    margin-top: 29px;
  }

  .reviews__tgme-username-link {
    margin-top: 4px;
  }

  .reviews__nav {
    align-self: flex-end;
    margin-top: -54px;
  }

  .reviews__btn {
    padding: 13px 0;
    width: 69px;
    margin-left: 37px;
    background-color: white;
    font-size: 0;
    border: none;
    background-position: 19px 12px;
  }

  .reviews__btn--next {
    background-position: 0px 12px;
  }

}

@media @desktop-width {
  .reviews {
    margin-top: 91px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 23px solid @border-gray;
    border-image: url("../img/bg-zigzag-line.svg") 100% 1 repeat;
    width: 1050px;
  }

  .reviews__wrapper {
    padding-top: 28px;
    padding-bottom: 97px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1050px;
    background-position: left;
  }

  @media (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 2dppx) {
    .reviews__wrapper {
      background-image: url(../img/review@2x.jpg);
    }
  }

  .reviews__title {
    .bold-fonts(53px; 57px; @black);
    padding-left: 175px;
    margin-left: -4px;
  }

  .reviews__write {
    margin-top: 51px;
  }

  .reviews__slider-inner {
    padding-left: 175px;
  }

  .reviews__text  {
    width: 780px;
    margin-top: 4px;
    padding-right: 100px;
  }

  .reviews__author-name {
    .bold-fonts(17px; 24px; @black);
    margin-top: 11px;
  }

  .reviews__nav  {
    margin-top: -56px;
    margin-right: 5px;
  }
}
